<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>PostIt</title>
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Fonts -->
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i"
      rel="stylesheet"
    />
    <!-- Custom styles for this template -->
    <link href="assets/css/mediumish.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Begin Nav
================================================== -->
    <nav
      class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation"
    >
      <button
        class="navbar-toggler navbar-toggler-right"
        type="button"
        data-toggle="collapse"
        data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container">
        <!-- Begin Logo -->
        <a class="navbar-brand" href="/home">
          <h1>PostIt</h1>
        </a>
        <!-- End Logo -->
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <!-- Begin Menu -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home"
                >Stories <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/compose">Post</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://docs.google.com/document/d/1Bsayp_S1wk_1QfbG1TrUcLc2O3LjblZJDveoNXrh-ec/edit?usp=sharing">Author</a>
            </li>
          </ul>
          <!-- End Menu -->
          <!-- Begin Search -->
         
          <!-- End Search -->
<form action="/logout" method="post">
      <button class="button-40" role="button"type="submit" >
       Sign out
      </button>
</form>
        </div>
      </div>
    </nav>
    <!-- End Nav
================================================== -->

    <!-- Begin Article
================================================== -->
    <div class="container">
      <h1>Post</h1>

      <form action="/compose" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" name="n" />
          <label>Content</label>
          <textarea
            class="form-control"
            id=""
            cols="30"
            rows="5"
            name="c"
          ></textarea>
        </div>

        <input type="file" name="testImage" />

        <button class="button-30" type="submit">Publish</button>
      </form>
    </div>

    <!-- End Footer
================================================== -->

    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
      integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
      crossorigin="anonymous"
    ></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="assets/js/mediumish.js"></script>
  </body>
</html>
